@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'JF Flat Light';
    src: url('../font/JF-Flat-light.eot');
    src: url('../font/JF-Flat-light.eot?#iefix') format('embedded-opentype'),
    url('../font/JF-Flat-light.svg#JF Flat Light') format('svg'),
    url('../font/JF-Flat-light.woff') format('woff'),
    url('../font/JF-Flat-light.ttf') format('truetype');
}
